---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SDPS Workshop 2024</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-home-page.html %}

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="block">
            <div class="section-title">
             
              <h1>Venue Information</h1>
              <p>
                The 2024 SDPS Workshop will be held in Sonnerupgaard Gods, Tølløsevej 53, 4330 Hvalsø
                Check out how to reach the venue by train or car on the <a href="/venue-information/">venue information</a> page.
              </p>

              <h1>Objective</h1>
              <p>
                The goal of the SDPS Workshop is to further integrate our section and foment collaborations across research groups.
                During the two days, work groups will be formed based on the interests pointed out by professors and students and each group must work towards a goal.
              </p>
              <h1>Scope</h1>
              <p>
                Topics covered by the conference include, but are not limited to:
              </p>
              <p>
                <b>Algorithms, Machine Learning, and AI</b>
              </p>
              <p>
                <b>Business Process Management</b>
              </p>
              <p>
                <b>Model Checking, Logic, and Formal Methods</b>
              </p>
              <p>
                <b>Monitoring</b>
              </p>
              <p>
                <b>Software Architecture and Data Systems</b>
              </p>
            </div>
          </div>
        </div>

        {% include side.html %}

      </div>

    </div>
    </div>
  </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div id="feature-text" class="col-md-6 col-md-offset-0">
          <h2 class="text-uppercase">Software, Data, People & Society</h2>
          <p>
            The Software, Data, People & Society (SDPS) Section research in software, process and data management systems, and methods for the development of software systems suited for the people developing and using them, thereby creating value for society. The research is often carried out in an interdisciplinary context and in collaboration with industry.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>