---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SDPS Workshop 2024</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-home-page.html %}

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="block">
            <div class="section-title">

              <h1>Information to Participants 📖</h1>
              <p>
                Check out the <a href="/sdps-workshop-2024/information-to-participants/">information to participants</a> for details about your accomodation and transport.
              </p>
              <h1>Tentative Program Schedule 📖</h1>
              <p>
                Check out our tentative program on the <a href="/sdps-workshop-2024/program-schedule/">program schedule</a> page.
              </p>
               
              <h1>Venue Information 📽️</h1>
              <p>
                The 2024 SDPS Workshop will be held in Sonnerupgaard Gods, Tølløsevej 53, 4330 Hvalsø
              </p>
              <p>
                Check out how to reach the venue by train or car on the <a href="/sdps-workshop-2024/venue-information/">venue information</a> page.
              </p>

              <h1>Objective</h1>
              <p>
                The goal of the SDPS Workshop is to further integrate our section and foment collaborations across research groups.
                During the two days, work groups will be formed based on the interests pointed out by professors and students and each group must work towards a goal.
              </p>
              <h1>Scope</h1>
              <p>
                Topics covered by the workshop include, but are not limited to:
              </p>
              <p>
                <b>Algorithms, Machine Learning, and AI</b>: Theorem proving with Isabelle/HOL, Result Diversification/Fairness when Querying Machine Learning Models, Generating *understandable* textual descriptions from formal declarative models, Cheesing the process discovery contest with ML/AI (Process discovery contest)
              </p>
              <p>
                <b>Business Process Management</b>: BPM methods + HCI user studies - Effective use of clinical guidelines, BPM methods + HCI user studies - Workflow improvement for emergency call takers
              </p>
              <p>
                <b>Model Checking, Logic, and Formal Methods</b>: Model checking quantum computer programs, Provability in sub-intuitionistic modal logics by model checking, Type theory - Extending type-based program synthesis with GenAI
              </p>
              <p>
                <b>Runtime Monitoring</b>: Runtime monitoring of data streams and temporal patterns, Monitoring microservices through Metric First-Order Temporal (MFOTL)
              </p>
              <p>
                <b>Software Architecture and Data Systems</b>: A database query language based on the relational calculus, Large-scale software architecture + Distributed DB + HCI - Denmark as Living Lab: UCPH Network, Implementation of a microservice benchmark based on a real-world use case
              </p>
            </div>
          </div>
          
        
          
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div id="feature-text" class="col-md-6 col-md-offset-0">
          <h2 class="text-uppercase">Software, Data, People & Society</h2>
          <p>
            The Software, Data, People & Society (SDPS) Section research in software, process and data management systems, and methods for the development of software systems suited for the people developing and using them, thereby creating value for society. The research is often carried out in an interdisciplinary context and in collaboration with industry.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>