<table class="table table-bordered table-hover text-center">
	<thead class="bg-gray">
		<tr>
			<th class="text-center">Events</th>
			<th class="text-center">Dates (AoE)</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>Professors' Project Submission</td>
			<td>{% if site.data.dates.abstract_submission_fall.old!="" %}<del>{{site.data.dates.abstract_submission_fall.old}}</del> {% endif %}{% if site.data.dates.abstract_submission_fall.current %}{{site.data.dates.abstract_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Students' Project Selection</td>
			<td>{% if site.data.dates.research_submission_fall.old!="" %}<del>{{site.data.dates.research_submission_fall.old}}</del> {% endif %}{% if site.data.dates.research_submission_fall.current %}{{site.data.dates.research_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Workshop</td>
			<td>{{site.data.dates.conference_dates}}</td>
		</tr>

	</tbody>
</table>