<table class="table table-bordered table-hover text-center">
	<thead class="bg-gray">
		<tr>
			<th class="text-center">Events</th>
			<th class="text-center">Dates (AoE)</th>
		</tr>
	</thead>
	<tbody>

		<!--tr>
			<td>Abstract Submission for Research Track</td>
			<td>{% if site.data.dates.abstract_submission.old!="" %}<del>{{site.data.dates.abstract_submission.old}}</del> {% endif %}{% if site.data.dates.abstract_submission.current %}{{site.data.dates.abstract_submission.current}}{% else %}tba{% endif %}</td>
		</tr-->
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Fall Cycle - Research Papers</b></td>
		</tr>
		<tr>
			<td>Abstract Submission</td>
			<td>{% if site.data.dates.abstract_submission_fall.old!="" %}<del>{{site.data.dates.abstract_submission_fall.old}}</del> {% endif %}{% if site.data.dates.abstract_submission_fall.current %}{{site.data.dates.abstract_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Paper Submission</td>
			<td>{% if site.data.dates.research_submission_fall.old!="" %}<del>{{site.data.dates.research_submission_fall.old}}</del> {% endif %}{% if site.data.dates.research_submission_fall.current %}{{site.data.dates.research_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Rebuttal Phase</td>
			<td>{% if site.data.dates.rebuttal_phase_fall.old!="" %}<del>{{site.data.dates.rebuttal_phase_fall.old}}</del> {% endif %}{% if site.data.dates.rebuttal_phase_fall.current %}{{site.data.dates.rebuttal_phase_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Acceptance Notification</td>
			<td>{% if site.data.dates.research_notification_fall.old!="" %}<del>{{site.data.dates.research_notification_fall.old}}</del> {% endif %}{% if site.data.dates.research_notification_fall.current %}{{site.data.dates.research_notification_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Camera Ready</td>
			<td>{% if site.data.dates.camera_ready_fall.old!="" %}<del>{{site.data.dates.camera_ready_fall.old}}</del> {% endif %}{% if site.data.dates.camera_ready_fall.current %}{{site.data.dates.camera_ready_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Spring Cycle - Research Papers</b></td>
		</tr>
		<tr>
			<td>Abstract Submission</td>
			<td>{% if site.data.dates.abstract_submission_spring.old!="" %}<del>{{site.data.dates.abstract_submission_spring.old}}</del> {% endif %}{% if site.data.dates.abstract_submission_spring.current %}{{site.data.dates.abstract_submission_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Paper Submission</td>
			<td>{% if site.data.dates.research_submission_spring.old!="" %}<del>{{site.data.dates.research_submission_spring.old}}</del> {% endif %}{% if site.data.dates.research_submission_spring.current %}{{site.data.dates.research_submission_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Rebuttal Phase</td>
			<td>{% if site.data.dates.rebuttal_phase_spring.old!="" %}<del>{{site.data.dates.rebuttal_phase_spring.old}}</del> {% endif %}{% if site.data.dates.rebuttal_phase_spring.current %}{{site.data.dates.rebuttal_phase_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Acceptance Notification</td>
			<td>{% if site.data.dates.research_notification_spring.old!="" %}<del>{{site.data.dates.research_notification_spring.old}}</del> {% endif %}{% if site.data.dates.research_notification_spring.current %}{{site.data.dates.research_notification_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Camera Ready</td>
			<td>{% if site.data.dates.camera_ready_spring.old!="" %}<del>{{site.data.dates.camera_ready_spring.old}}</del> {% endif %}{% if site.data.dates.camera_ready_spring.current %}{{site.data.dates.camera_ready_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Submission Dates</b></td>
		</tr>

		<!--tr>
			<td>Research Paper Submission</td>
			<td>{% if site.data.dates.research_submission.old!="" %}<del>{{site.data.dates.research_submission.old}}</del> {% endif %}{% if site.data.dates.research_submission.current %}{{site.data.dates.research_submission.current}}{% else %}tba{% endif %}</td>
		</tr-->

		<tr>
			<td>Industry and Application Paper Submission</td>
			<td>{% if site.data.dates.industry_submission.old!="" %}<del>{{site.data.dates.industry_submission.old}}</del> {% endif %}{% if site.data.dates.industry_submission.current %}{{site.data.dates.industry_submission.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		{% comment %}
		<tr>
			<td>Tutorial Proposal Submission</td>
			<td>{% if site.data.dates.tutorial_proposal_submission.old!="" %}<del>{{site.data.dates.tutorial_proposal_submission.old}}</del> {% endif %}{% if site.data.dates.tutorial_proposal_submission.current %}{{site.data.dates.tutorial_proposal_submission.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Grand Challenge Solution Submission</td>
			<td>{% if site.data.dates.grand_challenge_submission.old!="" %}<del>{{site.data.dates.grand_challenge_submission.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_submission.current %}{{site.data.dates.grand_challenge_submission.current}}{% else %}tba{% endif %}</td>
		</tr>
		{% endcomment %}

		<tr>
			<td>Doctoral Symposium Submission</td>
			<td>{% if site.data.dates.doctoral_symposium_submission.old!="" %}<del>{{site.data.dates.doctoral_symposium_submission.old}}</del> {% endif %}{% if site.data.dates.doctoral_symposium_submission.current %}{{site.data.dates.doctoral_symposium_submission.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Poster and Demo Paper Submission</td>
			<td>{% if site.data.dates.poster_demo_submission.old!="" %}<del>{{site.data.dates.poster_demo_submission.old}}</del> {% endif %}{% if site.data.dates.poster_demo_submission.current %}{{site.data.dates.poster_demo_submission.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Notification Dates</b></td>
		</tr>

		<!--tr>
			<td>Author Notification Research Track</td>
			<td>{% if site.data.dates.research_author_notification.old!="" %}<del>{{site.data.dates.research_author_notification.old}}</del> {% endif %}{% if site.data.dates.research_author_notification.current %}{{site.data.dates.research_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr-->
		
		<tr>
			<td>Author Notification Industry and Application Track</td>
			<td>{% if site.data.dates.industry_author_notification.old!="" %}<del>{{site.data.dates.industry_author_notification.old}}</del> {% endif %}{% if site.data.dates.industry_author_notification.current %}{{site.data.dates.industry_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>

		{% comment %}
		<tr>
			<td>Author Notification Tutorials</td>
			<td>{% if site.data.dates.tutorial_proposal_author_notification.old!="" %}<del>{{site.data.dates.tutorial_proposal_author_notification.old}}</del> {% endif %}{% if site.data.dates.tutorial_proposal_author_notification.current %}{{site.data.dates.tutorial_proposal_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
        
        
		<tr>
			<td>Author Notification Grand Challenge</td>
			<td>{% if site.data.dates.grand_challenge_author_notification.old!="" %}<del>{{site.data.dates.grand_challenge_author_notification.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_author_notification.current %}{{site.data.dates.grand_challenge_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
		{% endcomment %}

		<tr>
			<td>Author Notification Doctoral Symposium</td>
			<td>{% if site.data.dates.doctoral_symposium_author_notification.old!="" %}<del>{{site.data.dates.doctoral_symposium_author_notification.old}}</del> {% endif %}{% if site.data.dates.doctoral_symposium_author_notification.current %}{{site.data.dates.doctoral_symposium_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Author Notification Poster &amp; Demo</td>
			<td>{% if site.data.dates.poster_demo_author_notification.old!="" %}<del>{{site.data.dates.poster_demo_author_notification.old}}</del> {% endif %}{% if site.data.dates.poster_demo_author_notification.current %}{{site.data.dates.poster_demo_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Conference</b></td>
		</tr>

		<tr>
			<td>Camera Ready for All Tracks (except Poster & Demo)</td>
			<td>{% if site.data.dates.camera_ready.old!="" %}<del>{{site.data.dates.camera_ready.old}}</del> {% endif %}{% if site.data.dates.camera_ready.current %}{{site.data.dates.camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Camera Ready for Poster & Demo</td>
			<td>{% if site.data.dates.poster_demo_camera_ready.old!="" %}<del>{{site.data.dates.poster_demo_camera_ready.old}}</del> {% endif %}{% if site.data.dates.poster_demo_camera_ready.current %}{{site.data.dates.poster_demo_camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Conference</td>
			<td>{{site.data.dates.conference_dates}}</td>
		</tr>

	</tbody>
</table>