<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="text-uppercase">SDPS Workshop 2024</h1>
                    <p class="text-uppercase">Welcome to the 1st SDPS Workshop webpage</p>
                    <p1>{{ site.data.dates.conference_dates }}</p1><br><br>
                    <p2>Sonnerupgaard Gods, Hvalsø</p2><br><br>
                </div>
            </div>
        </div>
    </div>
</section>