---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>PROGRAM SCHEDULE</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="PROGRAM SCHEDULE" %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
            <h1>Program Schedule</h1>
            <p>All times are in Central Europe Summer Time (CEST)</p>
            TO BE DEFINED
        </div>
      </div>

    </div>
  </div>
      {% include side.html %}
</section>

{% include footer.html %}
</body>
</html>