---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Information to participants</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="INFORMATION TO PARTICIPANTS" %}

    <section id="industry-pc">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="block">
                        <div style="margin-bottom: 100px;">

                            <h1>Information to participants</h1>

                            <h2>Project Selection</h2>
                            <p>PhD students and Postdocs are invited to select projects of interest. Please access the (<a href="https://forms.gle/dVgw7uU33DQRKt5V8">form</a>) and register your interests!
                            </p>

                            <h2>Workshop Activities</h2>
                            <p>
                                Participants are expected to actively engage in the activities of the workshop (<a href="/sdps-workshop-2024/program-schedule/">view the program</a>).
                                That may involve actively supporting your colleagues in the project you are assigned to as well presenting your progress and deliverables along the workshop.
                                Further details will be provided soon.
                            </p>

                            <h2>Departure</h2>
                            <p>
                            TO BE ANNOUNCED
                            </p>
                        </div>
                    </div>
                </div>

                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>